<div id="header">
	<div>
		<div>
			<h3>LOGO</h3>
		</div>
	</div>
	<!-- <div class="row"> -->
		<div class="row">
        <div class="input-field col">
          <input id="password" type="password" class="validate">      <i class="material-icons">search</i>

          <label for="password">Search</label>
        </div>
      </div>
	<!-- </div> -->
	<h3>LOGO</h3>	
	</div>
	<div class="searchbar">
<%=form_tag '/homes/search' do %>
<%= autocomplete_field_tag 'userdetail', '', autocomplete_userdetail_name_home_index_path, :size => 75 ,id:"searchTerm"%> 
<%= submit_tag 'search',class: "searchButton"%>
<%end%>
</div>
	<div>
		<a class="waves-effect waves-light btn" href="/home/index">Login or Sign Up</a>

	</div>
	
</div>

<div id="data">
	
</div>

	var httpRequest = new XMLHttpRequest();
	var element = document.getElementById('data');
	httpRequest.onreadystatechange = function(){
		console.log("request was completed");
		console.log(httpRequest.readyState);
		console.log(httpRequest.status);

<script type="text/javascript">
setInterval(function(){
var httpRequest = new XMLHttpRequest();
var element = document.getElementById('data');
httpRequest.onreadystatechange = function(){
 	console.log("request was completed");
 	console.log(httpRequest.readyState);
 	console.log(httpRequest.status);


		if(httpRequest.readyState > 0)

		{
			element.innerHTML = "Loading";
		}


		if(httpRequest.readyState >= 2){
			element.innerHTML = "DONE";

		}

		if(httpRequest.readyState > 3){
			if (httpRequest.status === 200){
				console.log(JSON.parse(httpRequest.responseText));
				element.innerHTML = httpRequest.responseText;
			}else{
				element.innerHTML = "Error";
 	if(httpRequest.readyState > 3){
 		if (httpRequest.status === 200){
 			console.log(JSON.parse(httpRequest.responseText));
 			var obj=JSON.parse(httpRequest.responseText);
 			for(var i=0;i<obj.data.organisation.length;i++)
 			{
 				element.innerHTML = element.innerHTML+"<br>"+obj.data.organisation[i].name+"<br>"+obj.data.organisation[i].numslots+"<br>"+obj.data.organisation[i].numvacant;

 			}
 		}else{
 			 			element.innerHTML = "Error";

			}
		}

	};
	httpRequest.open('GET', 'http://localhost:3000/userdetail/index');
	httpRequest.send();

 };
httpRequest.open('GET', 'http://localhost:3000/userdetail/index');
httpRequest.send();
},3000);
</script>